@media only screen and (max-width: 480px) {
    body {
        position: absolute;
    }

    .promotions-container {
        overflow: hidden;
    }

    .promotions-container {
        display: inline-block;
        text-align: center;
    }

    .single-product_container {
        width: 50%;
        display: inline-block;
        position: relative;
    }

    .single-product_container .img-container {
        width: 100%;
    }

    .description-container {
        margin: 0;
        display: inline-block;
    }

    .description-container__item__price__before {
        display: inline-block;
        margin-right: 2px;
    }

    .description-container__item__price {
        display: inline-block;
    }

    .product-title__container__hiddenContent {
        display: none;
    }

    .quick-view__icon__container {
        display: none;
    }

    /*.product-title__container {*/
    /*position: absolute;*/
    /*top: 140px;*/
    /*margin-left: 0;*/
    /*width: 80%;*/
    /*}*/
    .btn-container {
        padding: 0;
    }
}

/*@media screen*/
/*and (device-width: 360px)*/
/*and (device-height: 640px)*/
/*and (-webkit-device-pixel-ratio: 4)*/
/*and (orientation: portrait) {*/

/*.promotions-container {*/
/*!*overflow: hidden;*!*/
/*height: 750px;*/
/*}*/

/*}*/