@media only screen and (max-width: 480px) {
    body {
        position: absolute;
    }

    .promotions-container {
        /*overflow: hidden;*/
        height: 680px;
    }

    .promotions-container {
        display: inline-block;
        text-align: center;
    }

    .single-product_container {
        width: 50%;
        display: inline-block;
        position: relative;
    }

    .single-product_container .img-container {
        width: 100%;
    }

    .description-container {
        margin-top: 60px;
    }


    .quick-view__icon__container {
        display: none;
    }

    .product-title__container {
        position: absolute;
        top: 140px;
        margin-left: 0;
        width: 80%;
    }

    .btn-container {
        margin-top: 10px;
    }
}

/*@media screen*/
/*and (device-width: 360px)*/
/*and (device-height: 640px)*/
/*and (-webkit-device-pixel-ratio: 4)*/
/*and (orientation: portrait) {*/

    /*.promotions-container {*/
        /*!*overflow: hidden;*!*/
        /*height: 750px;*/
    /*}*/

/*}*/